/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  time,
  small,
  span {
    @apply dark:text-white;
  }

  p {
    @apply dark:text-gray-400;
  }

  html,
  body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 18px;
  }

  * {
    box-sizing: border-box;
  }

  h1,
  h2 {
    @apply text-indigo-600;
  }
  a {
    @apply text-indigo-600;
    @apply no-underline;
  }

  img {
    max-width: 100%;
    display: block;
  }
}
